// Autostart programs
// Corresponds to Hyprland's autostart.conf (exec-once)

// elephant
spawn-at-startup "elephant"

// GSK_RENDERER=cairo walker -t hypr --gapplication-service
spawn-sh-at-startup "GSK_RENDERER=cairo walker -t hypr --gapplication-service"

// QT_SCALE_FACTOR=0.7 dms run
spawn-sh-at-startup "QT_SCALE_FACTOR=0.7 dms run"

// Main autostart script (fcitx5 / wl-clip-persist / wp-autochange / copyq...)
spawn-sh-at-startup "bash ~/.config/niri/scripts/autostart.sh"

// QT_SCALE_FACTOR=1 USE_LAYER_SHELL=0 vicinae server
spawn-sh-at-startup "QT_SCALE_FACTOR=1 vicinae server"
spawn-sh-at-startup "feishu"

// localsend
spawn-at-startup "localsend"

// Auto-tiling for <= N windows
spawn-at-startup "~/.config/niri/scripts/niri_tile_to_n.py" "-n" "3"

// wvkbd virtual keyboard (start hidden, use wvkbd_toggle.sh to show)
spawn-at-startup "wvkbd-mobintl" "--hidden"
spawn-at-startup "swww-daemon"
